.{
    margin: 0;
    padding: 0;
}
.certi{
    /* height: 100px;
    width: 125px; */
    background-color: aqua;
}
.mySlides{
    width:100%;
    display: flex;
    justify-items: space-between;
    background-color: bisque;
    height: 450px;
}
/* .imag{
    height: 450px;
    padding: 5px 5px 5px 5px;
    
}
img{
    background-size: contain;
} */